[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/myblog
ExecStart=/home/ubuntu/myblog/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 0.0.0.0:80 \
          myblog.wsgi:application
[Install]
WantedBy=multi-user.target